.div {
    border-bottom: 1px solid #dcdfe6;
    height: 50px;
    width: 395px;
}
.icon {
    width: 18px;
    height: 22px;
    margin: 0 9px;
}
.del {
    width: 20px;
    height: 20px;
}
.eye {
    width: 26px;
    height: 22px;
    margin-left: 14px;
}