.header_box_div {
    height: 56px;
    border-bottom: 1px solid #ebebec;
    background-color: #fff;
}
.header_menu_img {
    padding: 19px 16px;
    border-right: 1px solid #ebebec;
}
.header_epname_p {
    font-size: 16px;
    color: #91a1a9;
    margin-left: 20px;
}
